*,
*::before
*::after{
    box-sizing: inherit;
}
body{
   box-sizing: border-box; 
   margin: 0;
   padding: 0px;
   max-width: 1600px;
}
.block-foto{
    background:url('../img/bg\ .jpg');
    width: 1600px;
    height: 844px;
}
a {
    text-decoration: none;
}
.page-header{
    position: relative;
   background-color:white; 
   display: flex;
   flex-direction: column-reverse;
}
.page-header::before{
    position: absolute;
    content: '';
    background-image:url(../img/envelope.svg);
    background-repeat: no-repeat;
    width: 11.67px;
    height: 10.5px;
    top: 11.75px;
    right: 362.17px;
}
.page-header::after{
    position: absolute;
    content: '';
    background-image:url(../img/fone.svg);
    background-repeat: no-repeat;
    width:10.5px;
    height:10.5px;
    top: 11.75px;
    right: 157.75px;
}
.navigation-link{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font: size 14px;
    line-height: 17px;
    color: #20242D;
}
.active-nav-link{
    position: relative;
    color: #FF7129;
    }
.active-nav-link::before{
    position: absolute;
    background-color: #FF7129; 
    width: 10px;
    height: 1px;
    content: '';
    top: 50%;
    right:-18px;
    }
.active-nav-link::after{
    position: absolute;
    background-color: #FF7129; 
    width: 10px;
    height: 1px;
    content: '';
    top: 50%;
    left: -18px;}
.header-wrapper-contacts{
        position: relative;
         background-color: #20242D;
}
.contact-link{
    color: #FFFFFF;
    font-family:'Gilroy',sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.header-address{
    color: #FFFFFF;
    font-family:'Gilroy',sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.welcome-section{
    background-color: #5a6a81;
    position: relative;
    width: 1600px;
    height: 844px;
}
.welcome-section::before{
    position: absolute;
    content:'';
    background-image: url('../img/solar.png');
    background-repeat: no-repeat;
    left: 50px;
    top: 167px;
    width: 379px;
    height: 145px;
}
.welcome-section::after{
    position: absolute;
    content:'';
    background-image: url('../img/energy.png');
    background-repeat: no-repeat;
    right:50px;
    top: 417px;
    width: 444px;
    height: 145px;
}
.main-title{
    position: absolute;
    top: 271px;
    right: 319px;
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    text-align: center;
    color: #FFFFFF;
}
.welcome-text{
    position: absolute;
    top: 398px;
    right: 546px;
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.button{
    position: absolute;
    top: 505px;
    right: 707px;
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px; 
    line-height: 17px;
    text-align: center;
    background-color: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    width: 187px;
    height: 49px;
    color: #FFFFFF;
}
.button-footer{
    width: 187px;
    height: 49px;
    background: #20242D;
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FF7129;
    box-sizing: border-box;
 }
.title{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color:black;
    position: absolute;
    width: 700px;
    height: 47px;
    left: 882px;
    top: 201px;
}
/*.title-on-background{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #FFFFFF;
    position: absolute;
    width: 700px;
    right: 428px;
    
}*/
.text-container{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    display: flex;
    }

.info-section{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.page-footer{
    position: relative;
    background-color:#20242D;
    width: 1600px;
    height: 207px;
}
.page-footer::before{
    position: absolute;
    content: '';
    background-image: url(../img/rectangle\ 33.png);
    width: 1500px;
    height: 1px;
    left: 50px;
    top: 144px;
}
.legal{
    width: 1600px;
}
.navigation-link-footer{
    font-family:'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.active-footer-link{
    color: #FF7129;
}
.title-on-background{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    margin: 0;
    color: #FFFFFF;
    position: absolute;
    bottom: 103px;
    left: 217px;
 }
.section-about{
    position: relative;
    width: 1600px;
    height: 350px;
    left: 0px;
    background: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3);
    mix-blend-mode: multiply;
    opacity: 0.3;
}
.block-foto-about{
    background: url(../img/foto-about.jpg);
    width: 1600px;
    height: 350px;
}
.section-about::before{
    position: absolute;
    content: '';
    background-image: url(../img/about.svg);
    background-repeat: no-repeat;
    width: 313px;
    height: 116px;
    left: 173px;
    top: 131px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.9;
}

/*.title-place{
    position: absolute;
    width: 130px;
    height: 47px;
}*/
.thick-font{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.foto-comment{
    font-family:'Gilroy',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #20242D;
}
.attributes{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
}
.attributes-font{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
}
.telefon-font{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
}
.navigation-list{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.navigation-list li{
    margin-right: 56px;

}
.navigation-list li:last-child{
margin: 0;
}
.header-wrapper{
   display: flex; 
   justify-content: space-between;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 12px;
   padding-bottom: 7px;
   align-items: center;
}
.header-wrapper-contacts{
    justify-content: flex-start;
}
.header-address{
    margin-right: auto;
}
.contact-link:first-of-type{
    margin-right: 56px;
}
.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}
.main-title{
    margin:  0px;
}
.welcome-text{
    margin-top: 16px;
    margin-bottom: 59px;
}
.text-container:last-child{
    align-items: flex-end;
    margin-right: 200px;
    margin-top: 64px;
    margin-bottom: 319px;
}
.img-wrapper{
    margin-top: 132px;
    margin-left: 134px;
    margin-bottom: 115px;
   margin-right: 35px;
}
.navigation-list-footer{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.navigation-list-footer li{
    margin-right: 56px;
}
.footer-wrapper{
    display: flex; 
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 66px;
   /* padding-bottom:124px;*/
    align-items: center;
    }
.legal-info {
    display: flex;
    justify-content:space-between;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 24px;
    list-style: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #7B7E85;
}

/*.title-on-background{
    position: absolute;
    top: 200px;
    left: 217px;
    width: 130px;
    height: 47px;
    }*/
.text-about{
    display: flex;
    justify-content: space-between;
}
.text-container-1{
    width: 534px;
    height: 168px;
    margin-left:200px ;
    margin-top: 80px;
}
.text-container-2{
    width: 534px;
    height: 72px;
    margin-top: 80px;
    margin-left: 66px;
    margin-right: 266px;

}
.page-insalation{
    display: flex;
    flex-direction: column;
    width:1600px;
}
.block-foto-instaletion{
    background-color: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3);
    background-image: url(../img/instalation.jpg);
    height: 412px;
    width: 1600px;
}
.page-contact{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1600px;
    height: 782px;
}
.title-contact{
    position: absolute;
    top: 125px;
    left: 217px;
}
.map{
    position: absolute;
    width: 800px;
    height: 607px;
    top: 175px;
    left: 800px;
}










